:root {
  color-scheme: light dark;
  font-family: Arial;
  background-color: white;
}

@media (prefers-color-scheme: light) {
  #titre {
    color: rgb(173, 12, 173);
  }
}

@media (prefers-color-scheme: dark) {
  #titre {
    color: rgb(6, 6, 173);
  }
}
