:root {
  color-scheme: light dark;
  font-family: Arial;
  background-color: white;
  color: black;
}

html, body {
  height: 100%;
}

.navImgs {
  width: 40px;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

#barre {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

#main {
  background-image: url("./film.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* border: 10px solid red; */
  flex: 1;
  padding: 1rem;
}

#description {
  color: white;
}

@media (prefers-color-scheme: light) {
  #titre {
    color: rgb(173, 12, 173);
  }
}

@media (prefers-color-scheme: dark) {
  #titre {
    color: rgb(6, 6, 173);
  }
}
